<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("https://fonts.cdnfonts.com/css/star-wars")
    @Styles.Render("~/Content/Loader.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("STAR WARS", "Root", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>
    <div class="background">
        <div id="loader">
            <div class="ls-particles ls-part-1"></div>
            <div class="ls-particles ls-part-2"></div>
            <div class="ls-particles ls-part-3"></div>
            <div class="ls-particles ls-part-4"></div>
            <div class="ls-particles ls-part-5"></div>
            <div class="lightsaber ls-left ls-green"></div>
            <div class="lightsaber ls-right ls-red"></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $(".background").hide();

            $('a').click(function () {
                $(".background").show();
            });
            window.onbeforeunload = function (event) {
                $(".background").show();
            };
            $(window).on('unload', function (event) {
                $(".background").show();
            });
        });
    </script>
</body>
</html>
