@model Models.ListFilmsModel

@if (Model.root.previous != null || Model.root.next != null)
{

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.root.previous != null)
            {
                <li class="page-item"><a class="page-link"  href="@Url.Action("Films", "List", new {id = Model.root.previous.Split('=')[1] })">Previous</a></li>

            }
            @if (Model.root.next != null)
            {
                <li class="page-item"><a class="page-link"  href="@Url.Action("Films", "List", new {id = Model.root.next.Split('=')[1]})">Next</a></li>

            }
        </ul>
    </nav>

}

<div class="cards-flex">

    @foreach (Entidades.Films prop in @Model.root.results)
    {

        <a class="cards films" href="@Url.Action("Films", "Detail", new {id = @prop.url.Split('/')[@prop.url.Split('/').Length-2]})">

            <div class="div-img">
                <img src="@prop.default_img" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>@prop.title</h3>
                    <h4>Episode n° @prop.episode_id</h4>
                </hgroup>
                <p class="description">@prop.opening_crawl</p>

            </section>

        </a>
    }

</div>

