@model Models.ListSpeciesModel
@{
    ViewBag.Title = "Contact";
}
@if (Model.root.previous != null || Model.root.next != null)
{

    <nav  class="navigation">
        <ul class="pagination">
            @if (Model.root.previous != null)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Species", "List", new {id = Model.root.previous.Split('=')[1]})">Previous</a></li>

            }
            @if (Model.root.next != null)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Species", "List", new {id = Model.root.next.Split('=')[1]})">Next</a></li>

            }
        </ul>
    </nav>

}

<div class="cards-flex">

    @foreach (Entidades.Species prop in @Model.root.results)
    {

        <a class="cards films" href="@Url.Action("Species", "Detail", new {id = @prop.url.Split('/')[@prop.url.Split('/').Length-2]})">

            <div class="div-img">
                <img class="people" src="@prop.default_img" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>@prop.name</h3>
                    <h4>Classification : @Entidades.StringExtensions.FirstCharToUpper(@prop.classification)</h4>
                </hgroup>
                <p>Designation: @Entidades.StringExtensions.FirstCharToUpper(@prop.designation)</p>
                <p>Language: @prop.language</p>
                <p>Average lifespan: @prop.average_lifespan </p>

            </section>

        </a>
    }

</div>
