@model Models.HomeModel
@{
    ViewBag.Title = "Home Page";

}
<main>

    <div class="cards-flex">

        <a class="cards films" href="@Url.Action("Films", "List")">

            <div class="div-img">
                <img src="https://cdn.wallpapersafari.com/90/82/ag5V6t.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Films</h3>
                </hgroup>
                <p>A cinematic journey beyond the stars. Star Wars: Thrilling galaxies with epic stories.</p>

            </section>

        </a>

        <a class="cards people" href="@Url.Action("People", "List")">

            <div class="div-img">
                <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/10/19/13/tfa_poster_wide_header-1536x864-959818851016.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Characters</h3>
                </hgroup>
                <p>Heroes and villains, united by the Force. Star Wars: Where destinies intertwine.</p>

            </section>

        </a>

        <a class="cards planets" href="@Url.Action("Planets", "List")">

            <div class="div-img">
                <img src="https://e0.pxfuel.com/wallpapers/410/904/desktop-wallpaper-star-wars-death-star-artwork-sci-fi-stars-1960-x-1080.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Planets</h3>
                </hgroup>
                <p>Unique worlds, limitless adventures. Star Wars: Explore galaxies through planets.</p>

            </section>

        </a>

        <a class="cards species"  href="@Url.Action("Species", "List")">

            <div class="div-img">
                <img src="https://w0.peakpx.com/wallpaper/968/888/HD-wallpaper-yoda-movie-fiction-force-jedi-big-ears-star-wars-film-science-fiction-geen-man-cute-green-alien.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Species</h3>
                </hgroup>
                <p>Diversity that transcends the bounds of Earth. Star Wars: A mosaic of species and cultures.</p>

            </section>

        </a>

        <a class="cards starships" href="@Url.Action("Starships", "List")">

            <div class="div-img">
                <img src="https://i.pinimg.com/originals/bc/8e/da/bc8eda437408f5fe7543665843e8b218.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Starships</h3>
                </hgroup>
                <p>Navigating the cosmos, star by star. Star Wars: Ships that carry legends.</p>

            </section>

        </a>

        <a class="cards vehicles" href="@Url.Action("Vehicles", "List")">

            <div class="div-img">
                <img src="https://wallpaperaccess.com/full/503772.jpg" />
            </div>
            <section class="div-details">

                <hgroup>
                    <h3>Vehicles</h3>
                </hgroup>
                <p>From land to space, action in every turn. Star Wars: Adventure in motion.</p>

            </section>

        </a>

    </div>
   
</main>
